@use "../../../../../styles/abstracts/breakpoints" as *;
@use "../../../../../styles/abstracts/keyframes" as *;

.contact-dialog {
  position: fixed;
  max-width: 1440px;
  inset: 0;
  background: rgba($color: #000000, $alpha: 0.5);
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.3s ease-out;

  &__window {
    margin: 10px;
    width: min(1212px, calc(100vw - 48px));
    min-height: 592px;
    background: var(--white);
    border-radius: 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1.6fr;
    box-shadow: var(--drop-shadow);
    animation: slideInFromRight 0.4s ease-out;
  }

  &__header {
    background: var(--primary);
    color: var(--white);
    padding: 100px 56px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;

    h4 {
      color: var(--white);
    }
  }

  &__logo {
    width: 55px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
  }

  &__separator {
    width: 96px;
    height: 3px;
    margin-top: 8px;
    background: var(--accent);
    border-radius: 2px;
  }

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: clamp(10px, 4vw, 50px);
  }

  &__close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 32px;
    height: 32px;
    border: none;
    background: transparent;
    color: var(--primary);
    font-size: 24px;
    line-height: 1;

    :hover {
      background-color: var(--secondary);
      border-radius: 100%;
      padding: 2px;
    }
  }

  &__contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
  }

  &__initials {
    flex: 0 0 120px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: var(--lightgray);
    border: 3px solid var(--white);
    display: grid;
    place-items: center;
    font-size: 47px;
    color: var(--white);

    span {
      font-size: 60px;
      color: var(--white);
    }
  }
}

@media (max-width: $bp-md) {
  .contact-dialog {
    &__window {
      grid-template-columns: 1fr;
      max-width: 396px;
      width: 100%;
      max-height: 760px;
      height: 100%;
      animation: slideInFromBottom 0.4s ease-out;
    }

    &__contact {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 15px;
      transform: translate(0px, -80px);
    }

    &__content {
      height: 100%;
    }

    &__initials {
      flex: 0 0 120px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: var(--lightgray);
      border: 3px solid var(--white);
      display: grid;
      place-items: center;
      font-size: 47px;

      span {
        font-size: 60px;
        color: var(--white);
      }
    }

    &__close {
      color: var(--white);
      transform: translate(10px, -350px);

      :hover {
        background-color: var(--accent);
      }
    }

    &__header {
      background: var(--primary);
      color: var(--white);
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
      height: 352px;

      h4 {
        color: var(--white);
      }
    }

    &__logo {
      display: none;
    }
  }
}
