@use "../../../../../styles/abstracts/breakpoints" as *;

.contact-dialog {
    position: fixed;
    inset: 0;
    background: rgba($color: #000000, $alpha: 0.5);
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;

    &__window {
        width: min(1212px, calc(100vw - 48px));
        min-height: 592px;
        background: var(--secondary);
        border-radius: 30px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1.6fr;
        box-shadow: var(--drop-shadow);
    }

    &__header {
        background: var(--primary);
        color: var(--white);
        padding: 100px 56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 8px;

        h4 {
            color: var(--white);
        }
    }

    &__logo {
        width: 55px;
        aspect-ratio: 1 / 1;
        object-fit: contain;
    }

    &__separator {
        width: 96px;
        height: 3px;
        margin-top: 8px;
        background: var(--accent);
        border-radius: 2px;
    }

    &__content {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: clamp(10px, 4vw, 50px);
    }

    &__close {
        position: absolute;
        top: 24px;
        right: 24px;
        width: 32px;
        height: 32px;
        border: none;
        background: transparent;
        color: var(--primary);
        font-size: 24px;
        line-height: 1;
    }

    &__contact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 15px;
    }

    &__initials {
        flex: 0 0 120px;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        background: var(--lightgray);
        border: 3px solid var(--white);
        display: grid;
        place-items: center;
        font-size: 47px;
        margin-left: clamp(1px, 1vw, 40px);

        span {
            font-size: 60px;
            color: var(--white);
        }
    }
}

@media (max-width: $bp-md) {
    .contact-dialog {
        display: none;
    }
}