<section class="board">
    <div class="board__header">
        <div class="board__header-headline">
            <h1>Board</h1>
            <button class="btn btn--primary none">
                <span class="material-icons">add</span>
            </button>
        </div>
        <div class="board__search-container">
            <div class="board__search-field">
                <input id="searchBar" type="text" class="_search-bar" placeholder="Find Task">
                <div class="board__separator"></div>
                <button class="">
                    <span class="material-icons">search</span>
                </button>
            </div>
            <button class="btn btn--primary">
                <p>Add Task</p>
                <span class="material-icons">add</span>
            </button>
        </div>
    </div>
    <div class="board__kanban">
        <div class="board__container">
            <div class="board__container-headline">
                <h3>Headline</h3>
            </div>
            <div class="board__notask">
                <p>No task To do</p>
            </div>

        </div>
        <div class="board__container">
            <div class="board__container__headline">
                <h3>Headline</h3>
            </div>

        </div>
        <div class="board__container">
            <div class="board__container__headline">
                <h3>Headline</h3>
            </div>

        </div>
        <div class="board__container">
            <div class="board__container__headline">
                <h3>Headline</h3>
            </div>

        </div>
    </div>

</section>