<div class="contact-dialog" (click)="onClose()">
    <div class="contact-dialog__window" (click)="$event.stopPropagation()">
        <div class="contact-dialog__header">
            <img class="contact-dialog__logo" src="Join Logo white.svg" alt="Join" />
            <h1>Edit contact</h1>
            <div class="contact-dialog__separator"></div>
        </div>

        <div class="contact-dialog__content">
            <button class="contact-dialog__close" type="button" (click)="onClose()" aria-label="Close dialog">
                <span class="material-icons">
                    close
                </span>
            </button>

            <div class="contact-dialog__contact">
                <div class="contact-dialog__initials" [style.backgroundColor]="selectedContact()?.color">
                    {{ selectedContact()?.name | initials }}
                </div>

                <app-contact-form [mode]="'edit'" [initialContact]="contact()" (saveContact)="onSaveContact($event)"
                    (deleteContact)="onDeleteContact()">
                </app-contact-form>
            </div>
        </div>
    </div>
</div>