<section>
  <div class="logo">
    <img src="Join Logo.svg" alt="" />
  </div>
  <h5>Kanban Project Management Tool</h5>
  <div class="profile-section">
    <button class="help-btn">
      <span class="material-icons">help_outline</span>
    </button>
    <div class="profile-icon" (click)="toggleProfileMenu()">
      @if (isProfileMenuOpen) {
        <div class="profile-menu">
          <a routerLink="/privacy-policy">Privacy policy</a>
          <a routerLink="/legal-notice">Legal notice</a>
          <a href="#">Logout</a>
        </div>
      }
      <p>SM</p>
    </div>
  </div>
</section>
