@use "../../../../styles/abstracts/breakpoints" as *;
@use "../../../../styles/abstracts/keyframes" as *;

:host {
  width: 100%;
  background: var(--white);
  display: flex;
  filter: drop-shadow(var(--drop-shadow));
  z-index: 3;
}

section {
  display: flex;
  height: 96px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0px 40px;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 16px;

  img {
    width: 20px;
    aspect-ratio: 1 / 1;
  }
}

.profile-icon {
  background-color: var(--white);
  border: solid 3px var(--primary);
  aspect-ratio: 1 / 1;
  width: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary);
  }
}

.profile-menu {
  position: absolute;
  top: 96px;
  right: 16px;
  background: var(--primary);
  border-radius: 12px 0 12px 12px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--lightgray);
  animation: slideInFromRight 0.4s ease-out;

  > a {
    padding: 8px 16px;
  }

  :hover {
    background-color: var(--primary-light);
  }
}

.logo {
  width: 32px;

  img {
    width: 100%;
  }
}

.help-btn {
  background: none;
  width: 20px;
  height: 20px;
  color: var(--gray);
}

@media (min-width: $bp-md) {
  .logo {
    display: none;
  }
}

@media (max-width: $bp-md) {
  :host {
    width: 100%;
    background: var(--white);
    display: fixed;
    filter: drop-shadow(var(--drop-shadow));
    top: 0;
    left: 0;
  }

  section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 16px;
    height: 80px;
  }

  .profile-icon {
    border: solid 3px var(--primary);
    aspect-ratio: 1 / 1;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
  }

  h5 {
    display: none;
  }

  .help-btn {
    display: none;
  }

  .profile-menu {
    top: 80px;
  }
}
