@use "../../../../styles/abstracts/breakpoints" as *;


:host {
    width: 100%;
    height: 96px;
    background: var(--white);
    display: flex;
    filter: drop-shadow(var(--drop-shadow));

}

section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0px 40px;
}

.profile-section {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
        width: 20px;
        aspect-ratio: 1 / 1;
    }
}

.profile-icon {
    border: solid 3px var(--primary);
    aspect-ratio: 1 / 1;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    cursor: pointer;
}

.logo {
    width: 32px;

    img {
        width: 100%;
    }
}

.help-btn {
    background: none;
    width: 20px;
    height: 20px;
}

@media (min-width: $bp-md) {
    .logo {
        display: none;
    }
}

@media (max-width: $bp-md) {
    :host {
        width: 100%;
        height: 80px;
        background: var(--white);
        display: flex;
        filter: drop-shadow(var(--drop-shadow));
    }

    section {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 0px 16px;
    }

    .profile-icon {
        border: solid 3px var(--primary);
        aspect-ratio: 1 / 1;
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 100%;
    }

    h5 {
        display: none;
    }

    .help-btn {
        display: none;
    }
}