@use "../../../../../styles/abstracts/breakpoints" as *;

.add-task {
  height: calc(100vh - 96px);
  width: 100%;
  overflow-y: auto;
  min-height: 0;
  scrollbar-gutter: stable;

  &__header {
    width: 100%;
    height: auto;
    padding: 80px clamp(16px, calc(88px - (1440px - 100vw) * 0.12), 88px) 50px
      clamp(16px, calc(64px - (1440px - 100vw) * 0.09), 64px);
  }

  &__form {
    width: 100%;
  }
}

@media (max-width: $bp-lg) {
  .add-task {
    height: calc(100vh - 176px);

    &__header {
      padding: 80px clamp(12px, calc(88px - (1024px - 100vw) * 0.28), 88px) 50px
        clamp(12px, calc(64px - (1024px - 100vw) * 0.2), 64px);
    }
  }
}

@media (max-width: $bp-md) {
  .add-task {
    height: calc(100vh - 160px);
  }
}
