<form class="contact-form" [formGroup]="form" (ngSubmit)="onCreate()">
    <div class="contact-form__fields">
        <div class="contact-form__input-wrap">
            <input type="text" formControlName="name" placeholder="Name" aria-label="Name" />
            <span class="material-icons">person</span>
        </div>
        <div class="contact-form__input-wrap">
            <input type="email" formControlName="email" placeholder="Email" aria-label="Email" />
            <span class="material-icons">mail</span>
        </div>
        <div class="contact-form__input-wrap">
            <input type="tel" formControlName="phone" placeholder="Phone" aria-label="Phone" />
            <span class="material-icons">call</span>
        </div>
    </div>

    <div class="contact-form__actions">
        <button class="btn btn--secondary" type="button" (click)="onCancel()">Cancel <span class="material-icons">
                close
            </span></button>
        <button class="btn btn--primary" type="submit">Create contact <span class="material-icons">
                check
            </span></button>
    </div>
</form>