.contact-form {
	width: 100%;

	&__fields {
		display: flex;
		flex-direction: column;
		gap: 24px;
	}

	input {
		width: 100%;
		height: 50px;
		border: 1px solid var(--lightgray);
		border-radius: 10px;
		padding: 0 20px;
		font-size: 20px;
		color: var(--primary);
		background: var(--white);

		&::placeholder {
			color: var(--lightgray);
		}

		&:focus {
			outline: 1px solid var(--accent);
			border-color: var(--accent);
		}
	}

	&__actions {
		margin-top: 48px;
		display: flex;
		justify-content: flex-end;
		gap: 16px;
	}
}
