@use "../../../../../styles/abstracts/breakpoints" as *;

:host {
	max-width: 422px;
	width: 100%;
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: end;

	&__fields {
		display: flex;
		flex-direction: column;
		gap: 24px;
		max-width: 422px;
		width: 100%;
	}

	&__input-wrap {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: left;
		justify-content: center;
		width: 100%;

		p{
			position: absolute;
			top: calc(100% + 2px);
			left: 0;
			margin: 0;
			font-size: 14px;
			color: var(--error);
			z-index: 10;
		}

		.material-icons {
			position: absolute;
			right: 20px;
			font-size: 24px;
			color: var(--lightgray);
			pointer-events: none;
		}
	}

	input {
		width: 100%;
		height: 50px;
		border: 1px solid var(--lightgray);
		border-radius: 10px;
		padding: 13px 56px 13px 20px;
		font-size: 20px;
		color: var(--primary);
		background: var(--white);

		&::placeholder {
			color: var(--lightgray);
		}

		&:focus {
			outline: 1px solid var(--accent);
			border-color: var(--accent);
		}

		&.ng-invalid.ng-touched {
			border-color: var(--error);
			outline-color: var(--error);
		}
	}

	&__actions {
		margin-top: 48px;
		display: flex;
		justify-content: start;
		gap: 16px;
		max-width: 422px;
		width: 100%;
	}

  button{
    min-width: 100px;
    max-height: 58px;
  }

  .btn--primary{
    min-width: 150px;
  }
}

@media (max-width: $bp-md) {

	.contact-form {
		&__actions {
			margin-top: 32px;
			display: flex;
			justify-content: center;
			gap: 16px;
			max-width: 422px;
			width: 100%;
		}

		&__cancel {
			display: none;
		}
	}
}
