@use "../../../../../styles/abstracts/breakpoints" as *;

.contacts {
  &__details {
    width: 100%;
    height: 100%;
    background: var(--secondary);
    padding: 110px 55px;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  &__details__wrapper {
    display: flex;
    flex-direction: column;
    gap: 21px;
    opacity: 0;
    transform: translateX(100%);
    transition:
      opacity 0.3s ease,
      transform 0.3s ease;

    &.fade-in {
      opacity: 1;
      transform: translateX(0);
    }
  }

  &__headline {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    column-gap: 30px;
    row-gap: 16px;
  }

  &__seperator {
    background-color: var(--accent);
    width: 3px;
    height: 50px;
  }

  &__back-btn {
    display: none;
    position: absolute;
    right: 0;
    top: 20px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    padding: 6px;
    color: var(--accent);
    cursor: pointer;

    span {
      font-size: 40px;
    }
  }

  &__specifics {
    display: flex;
    column-gap: 54px;
    row-gap: 21px;
    flex-wrap: wrap;

    &__name {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__initals {
      background-color: orange;
      width: 120px;
      height: 120px;
      border: solid 3px var(--white);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 47px;
    }

    &__edits {
      display: flex;

      img {
        width: 18px;
        height: 18px;
      }

      button {
        display: flex;
        flex-direction: row;
        height: 24px;
        text-align: center;
        font-size: 16px;
        gap: 8px;
      }
    }
  }

  &__informations {
    h6 {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }

  &__mail {
    margin: 20px 0 16px 0;
  }

  @media (max-width: $bp-xl2) {
    &__headline {
      display: flex;
      flex-direction: column;
      align-items: start;
      position: relative;
      column-gap: 30px;
    }

    &__details {
      width: 100%;
      height: 100%;
      background: var(--secondary);
      padding: 48px 16px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }

    &__seperator {
      order: 3;
      width: 90px;
      height: 3px;
    }
  }

  @media (max-width: $bp-md) {
    &__back-btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }

    &__specifics {
      &__initals {
        background-color: orange;
        width: 120px;
        height: 120px;
        border: solid 3px var(--white);
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 47px;
      }
    }
  }
}
