:root {
    --test: rgb(42, 54, 71);
    --primary: rgb(42, 54, 71);
    --secondary: rgb(246, 247, 248);
    --white: rgb(255, 255, 255);
    --accent: rgb(41, 171, 226);
    --primary-accent: rgb(9, 25, 49);
    --drop-shadow: rgba(0, 0, 0, 0.25);
    --urgent: rgb(255, 61, 0);
    --medium: rgb(255, 168, 0);
    --low: rgb(122, 226, 41);
}