:root {
  --test: rgb(42, 54, 71);
  --primary: rgb(42, 54, 71);
  --primary-dark: rgb(9, 25, 49);
  --primary-light: rgb(42, 61, 89);
  --secondary: rgb(246, 247, 248);
  --white: rgb(255, 255, 255);
  --lightgray: rgba(205, 205, 205);
  --gray: rgba(168, 168, 168);
  --accent: rgb(41, 171, 226);
  --drop-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  --urgent: rgb(255, 61, 0);
  --medium: rgb(255, 168, 0);
  --low: rgb(122, 226, 41);
  --error: #E60026;
  --blue-hover: rgba(12, 46, 98, 0.12);
}
