@use "../../../../styles/abstracts/breakpoints" as *;

:host {
    display: flex;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    // justify-content: center;
}

section {
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: $bp-md) {
    :host {
        display: flex;
        flex-direction: column-reverse;
    }

    section {
        background-color: var(--secondary);
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: calc(100vh - 80px);
    }


}