@use "../../../../styles/abstracts/breakpoints" as *;

:host {
    display: flex;
    width: 100vw;
    height: 100vh;
    background: var(--secondary);
}

section {
    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (max-width: $bp-md) {
    :host {
        display: flex;
        flex-direction: column-reverse;
    }

    section {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-height: calc(100vh - 80px);
    }


}
