@use "../../../../../styles/abstracts/breakpoints" as *;

.contacts__listpage {
  display: flex;
  flex-direction: column;
  width: 400px;
  overflow-y: hidden;
  min-height: 0;
  box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15);
}

.contacts__list {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  display: flex;
  flex-direction: column;

  &__groupletter {
    width: 352px;
    height: 58px;
    margin: 0 0 8px 24px;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.15);

    h5 {
      margin-left: 16px;
    }
  }

  &__items {
    display: flex;
    width: 352px;
    height: 78px;
    margin-left: 24px;
    cursor: pointer;
  }

  &__initials {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    border: solid 2px var(--white);
    border-radius: 100%;
    margin-right: 24px;
  }

  &__rows {
    height: 78px;
  }
}

@media (max-width: $bp-lg) {
  .contacts__listpage {
    width: 350px;
  }

  .contacts__list {
    &__groupletter {
      width: 300px;
      margin-left: 0;
    }

    &__items {
      width: 300px;
      margin-left: 8px;
    }

    &__initials {
      margin-right: 12px;
    }
  }
}
