<div class="contacts__listpage">
  <button class="btn btn--primary" (click)="addContact.emit()">
    <p>Add Contact</p>
    <span class="material-icons">person_add_alt</span>
  </button>
  <div class="contacts__list">
    @for (group of groupedContacts; track group.letter) {
      <div class="contacts__list__groupletter">
        <h5>{{ group.letter }}</h5>
      </div>
      <hr class="contacts__hrline">

      @for (contact of group.contacts; track contact.id) {
        <div
          class="contacts__list__items"
          [class.active]="activeContactId === contact.id"
          (click)="onContactClick(contact)"
        >
          <div
            class="contacts__list__initials"
            [style.backgroundColor]="contact.color"
          >
            {{ contact.name | initials }}
          </div>

          <div class="contacts__list__rows">
            <h5>{{ contact.name }}</h5>
            <p>{{ contact.email }}</p>
          </div>
        </div>
      }
    }
    <button class="btn btn--primary" (click)="addContact.emit()">
      <span class="material-icons">person_add_alt</span>
    </button>
  </div>
</div>
