@use "../../../../../styles/abstracts/breakpoints" as *;

.contacts {
  &__listpage {
    background: var(--white);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    scrollbar-gutter: stable;
    min-height: 0;
    background: var(--white);
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15);
    height: calc(100vh - 96px);

    button {
      margin: 20px;
    }
  }

  &__hrline {
    border: solid 1px var(--lightgray);
    margin: 10px 0px;
  }

  &__list {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    box-sizing: border-box;
    padding: 24px 16px 24px 24px;
    display: flex;
    flex-direction: column;

    button {
      display: none;
      position: fixed;
      right: 16px;
      bottom: 104px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      border: none;
      align-items: center;
      justify-content: center;
      z-index: 3;

      .material-icons {
        font-size: 30px;
      }
    }

    &__groupletter {
      height: 58px;

      h5 {
        padding: 17px 36px;
      }
    }

    &__items {
      display: flex;
      height: 78px;
      cursor: pointer;
      padding: 15px 24px;
      gap: 35px;
      width: 100%;

      &:hover {
        background: linear-gradient(
          180deg,
          rgba(249, 249, 249, 1) 0%,
          rgba(240, 240, 240, 1) 100%
        );
        border-radius: 10px;
      }

      &:active {
        background: var(--primary);
        color: white;
      }

      &.active {
        background: var(--primary);
        color: var(--white);
        border-radius: 10px;
      }
    }

    &__initials {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 42px;
      height: 42px;
      aspect-ratio: 1 / 1;
      border: solid 2px var(--white);
      border-radius: 100%;
      color: var(--white);
    }

    &__rows {
      p {
        color: var(--accent);
      }
    }
  }

  &__details {
    flex: 1;

    &__wrapper {
      opacity: 0;
      transform: translateX(100%);
      transition:
        opacity 0.3s ease,
        transform 0.3s ease;

      &.fade-in {
        opacity: 1;
        transform: translateX(0);
      }
    }
  }

  &__headline {
    height: 60px;
    display: flex;
    align-items: center;
    margin: 100px 0 20px 60px;
  }

  &__seperator {
    background-color: var(--accent);
    width: 3px;
    height: 50px;
    margin: 0 16px 0 16px;
  }

  &__specifics {
    display: flex;

    &__name {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__initals {
      background-color: orange;
      width: 120px;
      height: 120px;
      border: solid 3px var(--white);
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 47px;
      margin: 0 60px 0 60px;
    }

    &__edits {
      display: flex;

      img {
        width: 18px;
        height: 18px;
      }

      button {
        display: flex;
        flex-direction: row;
        height: 24px;
        text-align: center;
        font-size: 16px;
        margin-right: 16px;
        gap: 8px;
      }
    }
  }

  &__informations {
    margin: 30px 0 0 60px;

    h6 {
      font-size: 16px;
      margin-bottom: 12px;
    }
  }

  &__mail {
    margin: 20px 0 16px 0;
  }

  @media (max-width: $bp-xl2) {
    &__list {
      padding: 24px 16px 24px 16px;

      &__groupletter {
        height: 58px;

        h5 {
          padding: 20px;
        }
      }

      &__items {
        display: flex;
        height: 78px;
        cursor: pointer;
        gap: 20px;
        width: 100%;
        padding: 15px 10px;
      }
    }
  }

  @media (max-width: $bp-lg) {
    &__listpage {
      height: calc(100vh - 176px);
    }
  }

  @media (max-width: $bp-md) {
    &__listpage {
      height: calc(100vh - 160px);
      button {
        display: none;
        margin: 0px;
      }
    }

    &__list {
      flex: 1;
      overflow-y: auto;
      min-height: 0;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;

      button {
        display: inline-flex;
      }
    }
  }

  @media (max-width: $bp-xs) {
    &__list {
      padding: 24px 0px 100px 0px;
    }
  }
}
