@use "../../../../styles/abstracts/keyframes" as *;
@use "../../../../styles/abstracts/breakpoints" as *;

.toast__message {
  min-width: 280px;
  height: 70px;
  padding: 30px;
  border-radius: 20px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation:
    slideIn 0.25s ease,
    fadeOut 0.3s ease 2.7s forwards;
}

.toast__success {
  background: var(--primary);
}

.toast__container {
  position: fixed;
  bottom: 15%;
  left: 60%;
  transform: translateX(-50%);

  z-index: 9999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 12px;

  pointer-events: none;
}

@media (max-width: $bp-md) {
  .toast__container {
    bottom: 10%;
    left: 50%;
  }
}
