@use "../../../../styles/abstracts/breakpoints" as *;

.privacypolicy {
  max-width: calc(1440px - 232px);
  height: calc(100dvh - 96px);
  overflow-y: auto;
  scrollbar-width: none;
  padding: clamp(32px, calc(32px + (100vw - 768px)), 80px)
    clamp(24px, calc(24px + (100vw - 768px)), 80px);

  h1 {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0px;
  }

  h3 {
    margin: 20px 0px;
  }

  h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 10px 0px;
  }

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
    & button {
      display: none;
    }
  }
}

@media (max-width: $bp-lg) {
  .privacypolicy_header {
    button {
      display: block;
    }
  }
}

@media (max-width: $bp-md) {
  .privacypolicy {
    height: calc(100dvh - 160px);
    padding: 80px 40px 40px 40px;
  }
}

@media (max-width: $bp-sm) {
  .privacypolicy {
    padding: 32px 16px 16px 16px;
  }
}
