@use "../../../../styles/abstracts/breakpoints" as *;

:host {
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--lightgray);
}

.navLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  > a {
    width: 150px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 0px;
    gap: 8px;
  }

  :hover {
    background-color: var(--primary-light);
  }

  > a.is-active {
    background-color: var(--primary-dark);
    color: var(--white);
  }
}

.navIcon {
  width: clamp(20px, 3vw, 30px);
  height: clamp(20px, 3vw, 30px);
  display: block;
}

@media (max-width: $bp-md) {
  nav {
    flex-direction: row;
    color: var(--lightgray);
    gap: unset;

    > a {
      border-radius: 5%;
      height: 80px;
      width: unset;
      flex-direction: column;
      justify-content: center;
      white-space: nowrap;
      padding: clamp(0px, 2.5vw, 16px);
    }

    :hover {
      background-color: unset;
    }
  }
}
