nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--lightgray);

  > a {
    width: 232px;
    padding: 8px 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
  }
}

.navIcon {
  max-height: 25px;
  max-width: 25px;
}
