<nav>
  <a routerLink="/summary">
    <img
      src="/icons/nav-icons/summary_icon_gray.svg"
      alt="summary_icon"
      class="navIcon"
    />
    <span>Summary</span>
  </a>

  <a routerLink="/add-task">
    <img src="/icons/nav-icons/task_icon_gray.svg" alt="add-task_icon" />
    <span>Add Task</span>
  </a>

  <a routerLink="/board">
    <img src="/icons/nav-icons/board_icon_gray.svg" alt="board_icon" />
    <span>Board</span>
  </a>

  <a routerLink="/contacts">
    <img src="/icons/nav-icons/contact_icon_gray.svg" alt="contact_icon" />
    <span>Contacts</span>
  </a>
</nav>
