@use "../../../../styles/abstracts/breakpoints" as *;

:host {
  width: 100%;
}

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--lightgray);
}

a {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    svg {
      display: block;
      width: 100%;
      height: 100%;
      flex-shrink: 0;
    }
  }

  .navlink {
    max-width: 150px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    gap: 8px;
  }
}

a:hover {
  background-color: var(--primary-light);
}
a.is-active {
  background-color: var(--primary-dark);
  color: var(--white);
}

@media (max-width: $bp-md) {
  nav {
    flex-direction: row;
    color: var(--lightgray);
    justify-content: space-around;

    .a {
      border-radius: 5%;
      width: 80px;
      height: 80px;
      flex-direction: column;
      justify-content: center;
    }

    .navlink {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    :hover {
      background-color: unset;
    }
  }
}
