@use "../../../../styles/abstracts/breakpoints" as *;

nav {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--lightgray);

  > a {
    width: 232px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 60px;
    gap: 8px;
  }

  :hover {
    background-color: var(--primary-light);
  }

  > a.is-active {
    background-color: var(--primary-dark);
    color: var(--white);
  }
}

.navIcon {
  max-width: 30px;
  max-height: 30px;
  display: block;
}

@media (max-width: $bp-md) {
  nav {
    display: flex;
    flex-direction: row;
    align-items: space-between;

    gap: 16px;
    color: var(--lightgray);
  }
}
