@use "../../../../styles/abstracts/breakpoints" as *;

:host {
  display: fixed;
  left: 0;
  bottom: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 64px 0px 64px 0px;
  background-color: var(--primary);
  width: 232px;
  height: 100vh;
  flex: 1;
}

.logo {
  max-width: 100px;
  width: 100%;
  img{
    width: 100%;
  }
}

.policy {
  display: flex;
  flex-direction: column;

  a {
    padding: 8px;
    color: var(--gray);
  }
}

@media (max-width: $bp-md) {

  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px 16px 0px 16px;
    background-color: var(--primary);
    width: 100%;
    height: 80px;
  }

  .logo {
    display: none;
  }

  .policy {
    display: none;
  }
}