@use "../../../../styles/abstracts/breakpoints" as *;

:host {
  display: fixed;
  left: 0;
  bottom: 0;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  padding: 64px 0px 64px 0px;
  background-color: var(--primary);
  width: clamp(72px, 18vw, 232px);
  height: 100vh;
  flex: 1;
}

.logo {
  height: 120px;
  max-width: 100px;
  width: 100%;
  margin-bottom: 120px;
  img {
    width: 100%;
  }
}

.links{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.legal {
  display: flex;
  flex-direction: column;

  > a {
    width: 232px;
    display: flex;
    justify-content: flex-start;
    padding: 8px 60px;
    color: var(--gray);
    font-variation-settings: "wght" 400;
  }

  :hover {
    color: var(--accent);
    font-weight: 700;
  }

  > a.is-active {
    background-color: var(--primary-dark);
  }
}


@media (max-width: $bp-md) {
  :host {
    z-index: 3;
  }
  section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    width: 100%;
    height: 80px;
    padding: 0;
  }

  .logo {
    display: none;
  }

  .legal {
    display: none;
  }
}
