@use "../../../../../styles/abstracts/breakpoints" as *;
// @use "../../../../../styles/abstracts/variables" as *;

.contacts {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 96px);
  width: calc(100vw - 232px);
  &__listpage {
    display: flex;
    flex-direction: column;
    width: 320px;
    overflow-y: hidden;
    min-height: 0;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.15);
  }
  &__list {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__details{
    flex: 1;
  }
  &__headline{
    height: 60px;
    display: flex;
    align-items: center;
    margin: 100px 0 20px 60px;
  }
  &__seperator{
    background-color: var(--accent);
    width: 3px;
    height: 50px;
    margin: 0 16px 0 16px;
  }
}
