@use "../../../../../styles/abstracts/breakpoints" as *;

.contacts {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 96px);
  width: calc(100vw - 232px);
}

.contacts__details {
  width: 100%;
}

@media (max-width: $bp-md) {
  .contacts__details {
    display: none;
  }
}
