<div class="contacts">
  <div class="contacts__listpage">
    <button class="btn btn--primary" (click)="openContactDialog()">
      <p>Add Contact</p><span class="material-icons">
        person_add_alt
      </span>
    </button>
    <div class="contacts__list">
      @for (group of groupedContacts(); track group.letter) {
      <div class="contacts__list__groupletter">
        <h5>{{ group.letter }}</h5>
      </div>
      @for (contact of group.contacts; track contact.id) {
      <div class="contacts__list__items" (click)="onSelectContact(contact)">
        <div class="contacts__list__initials" [style.backgroundColor]="contact.color">
          {{ contact.name | initials }}
        </div>
        <div class="contacts__list__rows">
          <h5>{{ contact.name }}</h5>
          <p>{{ contact.email }}</p>
        </div>
      </div>
      }
      }
    </div>
  </div>

  <div class="contacts__details">
    <div class="contacts__headline">
      <h1>Contacts</h1>
      <div class="contacts__seperator"></div>
      <h3>Better with a team</h3>
    </div>

    <div class="contacts__details__wrapper" [class.fade-in]="selectedContact() !== null">
      @if (selectedContact()) {
      <div class="contacts__specifics">
        <div class="contacts__specifics__initals" [style.backgroundColor]="selectedContact()?.color">
          {{ selectedContact()?.name | initials }}
        </div>
        <div class="contacts__specifics__name">
          <h2>{{ selectedContact()?.name }}</h2>
          <div class="contacts__specifics__edits">
            <button (click)="openEditDialog()">
              <span class="material-icons">
                edit
              </span>
              Edit
            </button>
            <button (click)="onDeleteSelectedContact()">
              <span class="material-icons">
                delete
              </span>
              Delete
            </button>
          </div>
        </div>
      </div>

      <div class="contacts__informations">
        <h5>Contact Information</h5>

        <div class="contacts__mail">
          <h6>Email</h6>
          <p>{{ selectedContact()?.email }}</p>
        </div>
        <div class="contacts__phone">
          <h6>Phone</h6>
          <p>{{ selectedContact()?.phone }}</p>
        </div>
      </div>
      }
    </div>
  </div>
</div>

@if (showContactDialog()) {
<app-contact-dialog (closeDialog)="closeContactDialog()"></app-contact-dialog>
}
@if (showEditDialog()) {
<app-edit-dialog (closeDialog)="closeEditDialog()"></app-edit-dialog>
}