@use "../../../../../styles/abstracts/breakpoints" as *;

.contacts {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 96px);
  width: calc(100vw - 232px);

  app-contacts-list {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  app-contact-details {
    flex: 1;
    height: 100%;
  }
}

  @media (max-width: $bp-md) {
    .contacts__details{
      display: none;
    }

  }