<div class="contacts">
  <div class="contacts__listpage">
    <button>Add Contact</button>
    <div class="contacts__list">
      @for (group of groupedContacts(); track group.letter) {
        <h4>{{ group.letter }}</h4>
        @for (contact of group.contacts; track contact.id) {
          <div class="contacts__rows">
            <h5>{{ contact.name }}</h5>
            <p>{{ contact.email }}</p>
          </div>
        }
      }
    </div>
  </div>
  <div class="contacts__details">
    <div class="contacts__headline">
      <h1>Contacts</h1>
      <div class="contacts__seperator"></div>
      <h3>Better with a team</h3>
    </div>

    <div class="contacts__specifics">
      <div class="contacts__specifics__name">
        <div class="contacts__specifics__initals"></div>
        <h2></h2>
        <div class="contacts__specifics__edits">
          <button>Edit</button>
          <button>Delete</button>
        </div>
      </div>
    </div>

    <h5>Contact Information</h5>

    <div class="contacts__mail">
      <h6>Email</h6>
    </div>
    <div class="contacts__phone">
      <h6>Phone</h6>
    </div>
  </div>
</div>
