@use "../../../../../styles/abstracts/breakpoints" as *;

.contacts {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 96px);
  width: 100%;

  app-contacts-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: 1;
    max-width: 456px;
  }

  app-contact-details {
    flex: 1;
    height: 100%;
    width: 100%;
    z-index: 0;
  }
}

@media (max-width: $bp-xl2) {
  .contacts {
    app-contacts-list {
      max-width: 356px;
    }
  }
}

@media (max-width: $bp-md) {
  .contacts {
    app-contacts-list {
      width: 100%;
      display: flex;
      flex-direction: column;
      z-index: 1;
      max-width: 100%;
    }
  }
}
