<div class="contacts">
  @if (!isMobile() || !selectedContact()) {
    <app-contacts-list [groupedContacts]="groupedContacts()" (selectContact)="onSelectContact($event)"
      (addContact)="openContactDialog()">
    </app-contacts-list>
  }

  @if (!isMobile() || selectedContact()) {
    <app-contact-details [contact]="selectedContact()" (back)="onBackToList()" (edit)="openEditDialog()" (delete)="onDeleteSelectedContact()">
    </app-contact-details>
  }
</div>

@if (showContactDialog()) {
<app-contact-dialog (closeDialog)="closeContactDialog()"></app-contact-dialog>
}
@if (showEditDialog()) {
<app-edit-dialog (closeDialog)="closeEditDialog()" [contact]="selectedContact()">
</app-edit-dialog>
}

<app-toast></app-toast>
