<section class="summary-page">
    <div class="header">
        <div class="header__headline">
            <h1>Join 360</h1>
            <div class="header__separator"></div>
            <h4>Key Metrics at a Glance</h4>
        </div>
    </div>
    <div class="summary-container">
        <div class="summary">
            <div class="summary__card">
                <span class="material-icons">edit</span>
                <div class="summary__info">
                    <p class="number">1</p>
                    <h5>To-do</h5>
                </div>
            </div>
            <div class="summary__card">
                <span class="material-icons">check</span>
                <div class="summary__info">
                    <p class="number">1</p>
                    <h5>Done</h5>
                </div>
            </div>

        </div>
    </div>
</section>