<section class="summary-page">
    <div class="header">
        <div class="header__headline">
            <h1>Join 360</h1>
            <div class="header__separator"></div>
            <h4>Key Metrics at a Glance</h4>
        </div>
    </div>
    <div class="summary-container">
        <div class="summary">
            <div class="summary__card summary__to-do">
                <span class="material-icons">edit</span>
                <div class="summary__info">
                    <p class="number">1</p>
                    <h5>To-do</h5>
                </div>
            </div>
            <div class="summary__card summary__done">
                <span class="material-icons">check</span>
                <div class="summary__info">
                    <p class="number">1</p>
                    <h5>Done</h5>
                </div>
            </div>
            <div class="summary__deadline-container summary__card">
                <div class="summary__urgent">
                    <span><img src="urgent_icon.svg" alt=""></span>
                    <div class="summary__info">
                        <p class="number">1</p>
                        <h5>Urgent</h5>
                    </div>
                </div>
                <div class="summary__separator"></div>
                <div class="summary__deadline">
                    <div class="summary__deadline-info">
                        <h6>October 16, 2022</h6>
                        <p>Upcoming Deadline</p>
                    </div>
                </div>
            </div>
            <div class="summary__board-card summary__card">
                <div class="summary__info">
                    <p class="number">1</p>
                    <h5>Tasks in <br> Board</h5>
                </div>
            </div>
            <div class="summary__progress-card summary__card">
                <div class="summary__info">
                    <p class="number">1</p>
                    <h5>Tasks In Progress </h5>
                </div>
            </div>
            <div class="summary__feedback-card summary__card">
                <div class="summary__info">
                    <p class="number">1</p>
                    <h5>Awaiting feedback</h5>
                </div>
            </div>
        </div>
        <div class="welcome">
            <h2>Good morning,</h2>
            <p class="welcome__initial">Sofia Müller</p>
        </div>
    </div>
</section>