@use "../../../../styles/abstracts/breakpoints" as *;

:host ::ng-deep .join-highlight {
  color: var(--accent);
}
:host ::ng-deep .legalnotice a {
  color: var(--accent);
  font-weight: 500;
}
:host ::ng-deep .developer-highlight {
  color: var(--accent);
  font-weight: 500;
}

.legalnotice {
  max-width: calc(1440px - 232px);
  height: calc(100dvh - 96px);
  overflow-y: auto;
  scrollbar-width: none;
  padding: 80px;
  &_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: 40px;
    & button{
      display: none;
    }
  }
  h4 {
    padding: 20px 0 20px 0;
    font-weight: bold;
  }
  h5 {
    font-weight: bold;
    line-height: 1;
  }
  p {
    padding: 0px 0 20px 0;
  }
  li {
    margin-left: 20px;
    p {
      padding: 0;
    }
  }
}

@media(max-width: $bp-lg){
  .legalnotice_header{
    button{
      display: block;
    }
  }
}

@media (max-width: $bp-md) {
  .legalnotice {
    height: calc(100dvh - 160px);
    padding: 80px 40px 40px 40px;
  }
}

@media (max-width: $bp-sm) {
  .legalnotice {
    padding: 32px 16px 16px 16px;
  }
}
