:host ::ng-deep .join-highlight {
  color: var(--accent);
  font-weight: bold;
}
:host ::ng-deep .help_page a {
  color: var(--accent);
  font-weight: 500;
}

.help_page {
  max-width: calc(1440px - 232px);
  height: calc(100dvh - 96px);
  overflow-y: auto;
  scrollbar-width: none;
  padding: 80px;
  &-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
  }
  &-close {
    padding-left: 40px;
  }
  h4 {
    padding: 20px 0 20px 0;
    font-weight: bold;
  }
  h5 {
    font-weight: bold;
    line-height: 1;
  }
  p {
    padding: 10px 0 10px 0;
  }
  ol {
    padding-left: 30px;
  }
  li {
    padding: 0 0 20px 10px;
    p {
      padding: 0;
    }
  }
  li::marker {
    font-size: 27px;
    font-weight: bold;
  }
}
