*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}


html,
body {
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
}

button{
  border: 0;
  cursor: pointer;
  background: none;
  display: flex;
  align-items: center;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a,
li,
div {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}