@use "../abstracts/breakpoints" as *;

* {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: clamp(47px, 5vw, 61px);
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: clamp(36px, 2.5vw, 47px);
  font-weight: 500;
  line-height: 1.2;
}

// Board columns

h3 {
  font-size: clamp(27px, 2.5vw, 20px);
  font-weight: 700;
  line-height: 1.2;
  color: var(--primary);
}

// Header Subline

h4 {
  font-size: clamp(20px, 2.5vw, 27px);
  font-weight: 400;
  line-height: 1.2;
  color: var(--primary);
}

// Kontaktnamen

h5 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
}

// Summary Datum

h6 {
  font-size: clamp(16px, 2.5vw, 21px);
  font-weight: 700;
  line-height: 1.2;
}

.card-headline {
  font-weight: 700;
  line-height: 1.2;
}

.card-text {
  font-weight: 400;
  color: var(--primary);
}

@media (max-width: $bp-sm) {
  h2 {
    font-weight: 700;
  }
}
